main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.ingredient-box-wrapper {
  display: flex;
  height: 700px;
  width: 1000px;
}

.ingredient-box-wrapper > div {
  width: 50%;
}

input {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.btn {
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn.select {
  color: green;
}

.btn.danger {
  color: red;
}

.ingredients-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.ingredient {
  background-color: #efefef;
  padding: 2px 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 20px;
}
